@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Marvel", sans-serif;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.clickable {
  cursor: pointer;
  transition: all 300ms ease;
}
.clickable:hover .nav-link {
  color: red;
}
.clickable:hover {
  transform: scale(1.1);
}
.not-clickable {
  cursor: not-allowed;
}
.header {
  background-image: linear-gradient(rgba(0, 8, 51, 0.7), rgba(0, 8, 51, 0.7)),
    url("https://www.sideshow.com/storage/product-images/910004/marvel-classics-comic-panel-wallpaper-mural_marvel_gallery_61bbecf8c69c9.jpg");
  /* background-image: url("https://www.sideshow.com/storage/product-images/910004/marvel-classics-comic-panel-wallpaper-mural_marvel_gallery_61bbecf8c69c9.jpg"); */
  background-position: center;
  background-repeat: repeat-x;
}
.comic__results--wrapper{
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------------------
NAV BAR
------------------------------------------------------------------*/
#nav {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav__logo--container {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__links {
  display: flex;
}
.nav__list {
  padding: 20px 0;
}
.nav-link {
  padding: 0 8px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
/*----------------------------------------------------------------
BODY
------------------------------------------------------------------*/
#body {
  /* background-color: #696969; */
  color: white;
}
.container {
  padding: 56px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section__title {
  font-size: 45px;
}
.section__title--search{
    margin-bottom: 18px;
}
.input__wrapper {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  border-radius: 60px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  animation: slideOut 2500ms ease;
}
.input__box {
  background: transparent;
  /* width: 90%; */
  flex: 1;
  border: none;
  outline: none;
  padding: 0px 20px;
  font-size: 24px;
  font-weight: bold 700;
  color: black;
  animation: slideOut-text 2500ms;
}
::placeholder {
  visibility: visible;
  color: #505050;
}
@keyframes slideOut {
  0% {
    width: 10%;
  }
  100% {
    width: 90%;
  }
}
@keyframes slideOut-text {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 90%;
    opacity: 100%;
  }
}
.fa-magnifying-glass {
  width: 25px;
  height: 25px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.search__button {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search__button:active {
  /* add bounce animation when clicking any button*/
  transform: translateY(1px);
}
/*----------------------------------------------------------------
COMICS
------------------------------------------------------------------*/
.comics__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}
.section__title {
  text-align: center;
  font-size: 32px;
}
.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comic {
  width: 25%;
  padding: 24px;
}
.comic__img--wrapper {
  position: relative;
}
.comic__img {
  transition: all 450ms ease;
}
.comic:hover .comic__img {
  filter: blur(4px);
}
.comic__title {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}
.comic__year {
  margin-bottom: 10px;
}
.comic__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}
.comic__wrapper--background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  top: 0;
  left: 0;
  opacity: 0;
}
.comic:hover .comic__wrapper--background {
  opacity: 0.7;
}
.comic__description {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translatey(100%); /*move the text to the bottom of the wrapper*/
  color: white;
  max-width: 550px;
  opacity: 0; /*hide the text until hovered over*/
  transition: opacity 300ms, transform 450ms ease; /*transition the text opacity and the movement smoothly*/
}
.comic:hover .comic__description {
  opacity: 1;
  transform: translatey(
    -50%
  ); /*move text back down to the center(50% of the parent)*/
}

/*----------------------------------------------------------------
LOADING
------------------------------------------------------------------*/
.comics__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: black;
  margin: 0 auto;
}

.comics__loading .comic {
  display: none;
}
.comics__loading .results__text {
  display: none;
}
.comics__loading .fa-spinner {
  display: block !important;
}
.fa-spinner {
  animation: rotate 600ms infinite linear;
}
.comics__loading--spinner {
  display: none !important;
}
.comics__loading--spinner ::before {
  display: none !important;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    .input__box{
        animation: none;
    }
    .input__wrapper{
        animation: none;
    }
  .row {
    max-width: 700px;
  }
  .container{
    padding: 32px 0;
  }
  .comics__header {
    max-width: 600px;
    margin: 0 auto;
  }
  .results {
    max-width: 600px;
    margin: 0 auto;
  }
  .comic {
    width: 50%;
  }
  .comic:active .comic__wrapper--background {
    opacity: 0.7;
  }
  .comic:active .comic__description {
    opacity: 1;
    transform: translatey(
      -50%
    ); /*move text back down to the center(50% of the parent)*/
  }
  .results{
    width: 100%;
    text-align: left;
  }
  .comics__header{
    margin-bottom: 16px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONE */
@media (max-width: 550px) {
  .row {
    max-width: 500px;
  }
  .comic__description--para{
    display: none;
  }
  .input__wrapper{
    width: 90%;
  }
  .comics__header{
    margin: 0 24px;
  }
  .nav__links{
    display: none;
  }
  .results{
    margin: 0 24px;
  }
}
